
/techbooklabo_v-1.0/ecr/.terraform
/techbooklabo_v-1.0/iam/.terraform
/techbooklabo_v-1.0/rds/.terraform
/techbooklabo_v-1.0/service/.terraform
/techbooklabo_v-1.0/vpc/.terraform
/techbooklabo_v-1.0/service/terraform.tfvars


/benchmap/ec2/.terraform
/benchmap/rds/.terraform
/benchmap/vpc/.terraform
/benchmap/ec2/id_rsa.pub
/benchmap/rds/terraform.tfvars
/benchmap/vpc/terraform.tfvars

/benchmap/ec2/.terraform
/benchmap/rds/.terraform
/benchmap/vpc/.terraform
/benchmap/s3/.terraform
/benchmap/alb/.terraform

